body {
    background: rgb(254,254,254);
    background: linear-gradient(80deg, rgba(254,254,254,1) 46%, rgba(246,246,246,1) 95%);
    height: auto;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #073746;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 22px;
    font-family: cursive;

}


.sidebar a {
    display: block;
    color: #b6ced8;
    padding: 16px;
    text-decoration: none;
}


.sidebar a.active {
    background-color: #006580;
    color: white;
}


.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}


div.content {
    margin-left: 200px;
    padding: 1px 16px;

}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}


@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

#photo {
    margin-top: 60px;
    margin-right: 150px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0, 7;
}

.clearfix {
    height: 350px;
    margin-left: 20px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    background-position: center;
    background-repeat: no-repeat;
    

}


.container {
    width: 1284px;
    height: 400px;
    margin-right: 20px;


}

.content {
    height: 10px;
}

.clearfix p {
   font-weight: bolder;
    opacity: 1 !important;
    margin-top: 25px;
    margin-bottom: -1rem;
    font-family: cursive;
    width: 450px !important;
}




.text-muted{
    margin-left: 20px;
}

#footer{
    margin-top: 20px !important;
}

.card{
    margin-left: 5px;
    background: rgb(254,254,254);
    background: linear-gradient(80deg, rgba(254,254,254,1) 46%, rgba(246,246,246,1) 95%);
    border: none;

}

.card h5{
    color: #006580;
    font-weight: bolder;
    font-family: cursive;
}

.card p{
    color:#547585 ;
    font-family: cursive;
}

.row{
   
    width: 1300px;
    height: 600px
}