.contact{
    margin-left: 20px;
    padding: 2%;
    height: 400px;
    background-color: transparent !important;
}
.clearfix{
    height: 530px;
}

.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #006580;
    color: #fff;
    font-weight: 600;
    width: 25%;
    margin-top: 10px;
}
.contact-form button:focus{
    box-shadow:none;
}
textarea{
    resize: none;
}
hr{
    position: relative;
    
}
.col-md-9{
    background-color: rgba(255, 255, 255, 0.8);
    width: 70%;
}